[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
gitpython = "~=3.1.2"
importlib-metadata = "~=1.6.0"
Markdown = "~=2.6.11"
mdx_bleach = "~=0.1.4"
pygithub = "~=1.51"
python-decouple = "~=3.3"
requests = "~=2.23"

[dev-packages]
black = "*"
mypy = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[scripts]
black = "black --config ./ci/danger/black/config.toml ."
mypy = "mypy --config-file ./ci/danger/mypy/mypy.ini ."
